.b-indicators{
    &__nav{
        display: flex;
        align-items: center;
        padding: 20px 0;
        margin-bottom: 15px;
    }
    &__tabs{
        margin-right: 40px;
    }

    &__grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
    }

    &__grid-item{
        padding: 0 8px;
        width: 50%;
        @media (max-width: 1350px) {
            width: 100%;
        }
    }

    &__card{
        background: #FFFFFF;
        border: 1px solid #ECECF2;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 24px 25px 20px;
        margin-bottom: 22px;
    }

    &__card-title{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #1C1D21;
        margin-bottom: 1px;
        position: relative;
        &--favorite{
            min-height: 27px;
            padding-right: 60px;
            margin-bottom: 15px;
        }
    }
    &__card-favorite{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -20px;
    }
    &__card-desc{
        font-size: 12px;
        line-height: 16px;
        color: #888B94;
        margin-bottom: 18px;
    }

    &__card-table{
        .table__wrap{
            max-width: 100%;
        }
    }

    &__labels{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 10px;
        &--flex-start{
            justify-content: flex-start;
        }
    }
}