.b-statistic{
    &__head{
        padding: 45px 50px 32px;
        display: flex;
    }
    &__head-left{
        margin-right: auto;
    }
    &__wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__wrap-left{
        width: 467px;
    }
    &__wrap-right{
        display: flex;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 47px;
        .b-statistic{
            &__labels{
                margin-bottom: 0;
            }
        }
    }
    &__title{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #1C1D21;
        margin-bottom: 10px;
    }
    &__labels{
        display: flex;
        flex-wrap: wrap;
        margin: 8px 0 0;
    }
    &__labels-item-wrap{
        margin-right: 30px;
    }
    &__labels-item{
        font-size: 14px;
        line-height: 21px;
        color: #8181A5;
        padding-left: 20px;
        position: relative;
        &:before{
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 3px;
            background-color: #ccc;
            position: absolute;
            left: 0;
            top: 4.5px;
        }
        &.red{
            &:before{
                background-color: #FF808B;
            }
        }
        &.yellow{
            &:before{
                background-color: #FFCC00;
            }
        }
        &.green{
            &:before{
                background-color: #7CE7AC;
            }
        }
        &.blue{
            &:before{
                background-color: #5E81F4;
            }
        }
        &.violet{
            &:before{
                background-color: #8181A5;
            }
        }
        &.multi{
            &:before{
                background-color: #FF808B;
                box-shadow: -6px 0 0 0 #FFCC00, -12px 0 0 0 #7CE7AC;
            }
        }
    }
    &__left{
        display: flex;
        &--right{
            justify-content: flex-end;
        }
    }
    &__nav{
        white-space: nowrap;
    }
    &__box{
        padding-bottom: 25px;
        &--short{
            max-width: 1400px;
        }
    }
    &__map{
        margin-bottom: 20px;
        position: relative;
        img{
            width: 100%;
        }
    }
    &__det-close{
        display: inline-block;
        background: none;
        border: none;
        border-radius: 0;
        cursor: pointer;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        position: absolute;
        right: 10px;
        top: 14px;
        transition: transform .3s ease-out;
        &:hover{
            transform: rotate(90deg);
        }
    }
    &__det-block{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        width: 450px;
        background-color: #fff;
        padding: 44px 40px;
        box-shadow: 0px 15px 35px rgba(152, 169, 188, 0.2);
    }
    &__det-block-inner{
        max-width: 305px;
    }
    &__det-cat{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -4px -4px;
        padding-bottom: 17px;
    }
    &__det-title{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #1C1D21;
        margin-bottom: 8px;
    }
    &__det-desc{
        font-size: 12px;
        line-height: 16px;
        color: #888B94;
        margin-bottom: 25px;
    }
    &__det-location{
        margin-bottom: 15px;
    }
    &__det-chart{
        margin-bottom: 15px;
    }
    &__det-info-label{
        font-size: 14px;
        line-height: 23px;
        color: #888B94;
        margin-bottom: 4px;
    }
    &__det-info-value{
        font-size: 14px;
        line-height: 23px;
        color: #1C1D21;
    }
    &__det-info{
        margin-bottom: 26px;
    }
    &__favorite{
        margin-left: 10px;
    }
    &__slider{
        margin-bottom: 25px;
        width: 1262px;
        @media (max-width: 1650px) {
            width: 1000px;
        }
        @media (max-width: 1350px) {
            width: 705px;
        }
    }
    &--inner{
        .b-statistic{
            &__head{
                padding: 0 0 20px;
            }
            &__box{
                padding: 0;
            }
            &__title{
                margin-bottom: 24px;
            }
        }
    }
    &__short{
        display: flex;
        position: relative;
    }
    &__short-left{
        min-width: 250px;
        width: 250px;
        margin-right: 80px;
    }
    &__short-select{
        margin-bottom: 40px;
    }
    &__short-body{
        flex: 1;
    }
    &__short-favorite{
        position: relative;
        top: -10px;
    }
}

@media (max-width: 1400px){
    .b-statistic{
        &__short{
            display: block;
        }
        &__short-left{
            width: 50%;
            margin-bottom: 40px;
        }
        &__short-favorite{
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}