.b-statistic-slider{
    position: relative;
    .tns{
        &-ovh{
            overflow: visible;
        }
        &-item{
            opacity: .3;
            transition: opacity .3s ease-out;
            &.tns-slide-active{
                opacity: 1;
            }
        }
        &-controls{
            button{
                &[data-controls="prev"]{
                    display: none;
                }
                &[data-controls="next"]{
                    position: absolute;
                    z-index: 2;
                    top: 50%;
                    left: 100%;
                    padding: 0;
                    margin: 0;
                    margin-top: -11px;
                    margin-left: 200px;
                    background: none;
                    border: none;
                    font-size: 22px;
                    line-height: 22px;
                    text-align: center;
                    color: #5E81F4;
                    @media (max-width: 1750px) {
                        margin-left: 70px;
                    }
                    @media (max-width: 1370px) {
                        margin-left: 50px;
                    }
                }
            }
        }
    }
    &__item{
        display: block;
    }
    &__wrap{
        display: flex;
        padding: 20px 25px;
        background: #FFFFFF;
        border-radius: 10px;
    }
    &__info{
        flex: 1;
    }

    &__title{
        display: block;
        font-size: 14px;
        line-height: 21px;
        color: #8181A5;
        margin-bottom: 6px;
    }

    &__value{
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #52545A;
    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 56px;
        width: 56px;
        height: 56px;
        border-radius: 10px;
        margin-left: 20px;
        background-color: #ccc;
        line-height: 56px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        i{
            font-size: 24px;
            line-height: 24px;
        }
        &.blue{
            background-color: rgba(94, 129, 244, 0.1);
            color: #5E81F4;
        }
        &.red{
            background-color: rgba(255, 128, 139, 0.1);
            color: #FF808B;
        }
        &.yellow{
            background-color: #FEF8EF;
            color: #F4BE5E;
        }
    }
}