.cases-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px -20px;
    &__item-wrap{
        width: 365px;
        padding: 0 12px;
        margin-bottom: 20px;
        @media (min-width: 1650px) and (max-width: 1920px) {
            width: 25%;
        }
        @media (min-width: 1350px) and (max-width: 1649px) {
            width: 33.33%;
        }
        @media (max-width: 1349px) {
            width: 50%;
        }
    }
    &__item{
        background: #FFFFFF;
        border-radius: 12px;
        height: 100%;
        padding: 32px 25px 20px;
        position: relative;
        cursor: pointer;
        transition: box-shadow .3s ease-out;
        &:hover{
            box-shadow: 0px 15px 35px rgba(152, 169, 188, 0.5);
        }
        &.low{
            &::before{
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #FF808B;
                position: absolute;
                right: 13px;
                top: 14px;
            }
        }
        &.mid{
            &::before{
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #FFCC00;
                position: absolute;
                right: 13px;
                top: 14px;
            }
        }
        &.high{
            &::before{
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #8AF1B9;
                position: absolute;
                right: 13px;
                top: 14px;
            }
        }
        &--border{
            border: 1px solid #D5D9E6;
            border-radius: 4px;
        }
    }

    &__cats{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px -4px;
        padding-bottom: 10px;
    }

    &__cats-item{
        padding: 0 4px;
        margin-bottom: 4px;
    }
    
    &__title{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #52545A;
        margin-bottom: 30px;
        &--sm{
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 3px;
        }
    }

    &__text{
        font-size: 12px;
        line-height: 16px;
        color: #888B94;
        margin: 8px 0 18px;
        min-height: 50px;
    }

    &__desc{
        font-size: 12px;
        line-height: 19px;
        color: #8181A5;
        margin-bottom: 20px;
    }

    &__wrap{
        display: flex;
    }

    &__chart{
        position: relative;
        min-width: 150px;
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }
    
    &__chart-box{
        position: absolute;
        width: 86px;
        top: 50%;
        left: 50%;
        margin-left: -43px;
        transform: translateY(-50%);
    }

    &__chart-nr{
        font-weight: bold;
        font-size: 26px;
        line-height: 38px;
        text-align: center;
        color: #1C1D21;
    }

    &__chart-desc{
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #888B94;
    }

    &__info-item{
        margin-bottom: 15px;
        max-width: 120px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__info-nr{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #1C1D21;
        margin-bottom: 1px;
    }
    
    &__info-desc{
        font-size: 12px;
        line-height: 16px;
        color: #888B94;
    }

    &__list{
        align-self: center;
    }

    &__list-item{
        padding-left: 23px;
        position: relative;
        font-size: 14px;
        line-height: 21px;
        color: #1C1D21;
        margin-bottom: 14px;
        &:last-child{
            margin-bottom: 0;
        }
        &:before{
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            position: absolute;
            left: 0;
            top: 4px;
            border: 4px solid #ccc;
            border-radius: 50%;
        }
        &.continue{
            &:before{
                border-color: #7CE7AC;
            }
        }
        &.stop{
            &:before{
                border-color: #FF808B;
            }
        }
        &.done{
            &:before{
                border-color: #8181A5;
            }
        }
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
    }

}