.header-nav{
    display: flex;
    margin: 0 -5px;
    &__item{
        padding: 0 5px;
    }
    &__icon{
        font-size: 16px;
        line-height: 16px;
        color: #5E81F4;
        transition: color .3s ease-out;
    }
    &__trigger{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border: 1px solid #5E81F4;
        background-color: transparent;
        border-radius: 6px;
        margin: 0;
        padding: 0;
        position: relative;
        cursor: pointer;
        transition: background-color .3s ease-out,
                    border-color .3s ease-out;;
        svg{
            fill: #5E81F4;
            transition: fill .3s ease-out;
        }
        &:hover{
            svg{
                fill: #000;
            }
            i{
                color: #000;
            }
        }
        &--fill{
            background-color: #5E81F4;
            i{
                font-size: 16px;
                line-height: 16px;
                color: #fff;
            }
            svg{
                fill: #fff;
            }
            &:hover{
                background-color: #475eaa;
                border-color: #475eaa;
                svg{
                    fill: #fff;
                }
                i{
                    color: #fff;
                }
            }
        }
        &.notice{
            &:before{
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #FF808B;
                border: 2px solid #FFFFFF;
                position: absolute;
                right: 8px;
                top: 6px;
                box-sizing: border-box;
            }
        }
    }
}