.project-managment{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    &__el{
        display: flex;
        align-items: center;
    }
    &__item{
        display: flex;
        align-items: center;
        width: 50%;
        padding: 0 14px;
        margin-bottom: 21px;
        &--sm{
            .project-managment{
                &__img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    &__img{
        width: 48px;
        height: 48px;
        margin-right: 14px;
        img{
            border-radius: 50%;
            border: 1px solid #B1B5BD;
        }
    }
    &__body{
        flex: 1;
        &--mt{
            margin-top: 12px;
        }
    }
    &__title{
        font-size: 14px;
        line-height: 1.5;
        color: #2D2F33;
        margin-bottom: 2px;
    }
    &__desc{
        font-size: 12px;
        line-height: 1.33;
        color: #AEB1BD;
    }
}