.project-struct{
    &__item{
        padding-bottom: 21px;
        margin-bottom: 39px;
        border-bottom: 1px solid #F0F0F3;
        &:last-child{
            border-bottom: 0;
            margin: 0;
            padding-bottom: 0;
        }
    }

    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6px;
    }

    &__link{
        line-height: 1.5;
        color: #5E81F4;
        text-decoration: none;
    }

    &__id{
        line-height: 1.5;
        color: #888B94;
        margin-bottom: 24px;
    }
}