.statistic{
    &__head{
        display: flex;
        align-items: center;
        margin-bottom: 18px;
    }
    &__title{
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #1C1D21;
        margin-right: 6px;
    }
    &__nr{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #9698D6;
        padding: 1px 5px 2px;
        background: #E6E7FB;
        border-radius: 12px;
    }
    &__list{
        margin-bottom: 24px;
    }
    &__block{
        background: rgba(245, 245, 250, 0.4) url(../img/statistic-block.svg) no-repeat 50% 100%;
        background-size: 100%;
        border-radius: 12px;
        padding: 22px 20px 140px;
    }
    &__block-head{
        display: flex;
        justify-content: space-between;
    }
    &__block-text{
        padding-right: 30px;
    }
    &__block-title{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #1C1D21;
    }
    &__block-desc{
        font-size: 14px;
        line-height: 21px;
        color: #8181A5;
    }
}