.badge{
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: #1C1D21;
    &:before{
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        position: absolute;
        left: -22px;
        top: 2px;
        border: 4px solid #ccc;
        border-radius: 50%;
    }
    &--sm{
        padding-left: 22px;
        &:before{
            left: 0;
            box-sizing: border-box;
            width: 8px;
            height: 8px;
            top: 50%;
            margin-top: -5px;
        }
    }
    &--blue{
        &:before{
            border-color: #5E81F4;
        }
    }
    &--sky{
        &:before{
            border-color: #7BC9E9;
        }
    }
    &--almaz{
        &:before{
            border-color: #309282;
        }
    }
    &--orange{
        &:before{
            border-color: #FF9900;
        }
    }
    &--purple{
        &:before{
            border-color: #484873;
        }
    }
    &--violet{
        &:before{
            border-color: #4D4CAC;
        }
    }
    &--pink{
        &:before{
            border-color: #FF808B;
        }
    }
    &--green{
        &:before{
            border-color: #7CE7AC;
        }
    }
    &--red{
        &:before{
            border-color: #FF808B;
        }
    }
    &--yellow{
        &:before{
            border-color: #FFCC00;
        }
    }
    &--grey{
        &:before{
            border-color: #979797;
        }
    }
    &--black{
        &:before{
            border-color: #000;
        }
    }
    &--transparent{
        &:before{
            width: 10px;
            height: 10px;
            border: 1px solid #D5D9E6;
        }
        &:after{
            content: '';
            display: block;
            width: 2px;
            height: 2px;
            position: absolute;
            left: -18px;
            top: 8px;
            border: 1px solid #D5D9E6;
            border-radius: 50%;
        }
    }
}