.breadcrumbs{
    display: flex;
    &__item{
        position: relative;
        margin-right: 40px;
        &:before{
            content: '';
            display: block;
            width: 22px;
            height: 22px;
            background: url(../img/icons/breadcrumbs-arrow.svg) no-repeat 50% 50%;
            position: absolute;
            left: 100%;
            top: 0%;
            margin-left: 9px;
            margin-top: 3px;
        }
        &:last-child{
            &:before{
                display: none;
            }
        }
    }
    &__link{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #5E81F4;
        text-decoration: none;
    }
    &__current{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #38477A;
    }
}