.chart-slider2{
    height: 148px;
    width: 148px;
    border-radius: 100%;
    transform: rotate(180deg);
    background: conic-gradient(var(--line) 0%, var(--line) calc(var(--percent) * 1%), #EEEEEE calc(var(--percent) * 1%));
    position: absolute;
    left: -4px;
    top: -4px;
    &:before{
        content: '';
        display: block;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        left: 4px;
        top: 4px;
    }
    &__wrap{
        width: 148px;
        height: 148px;
        border-radius: 50%;
        border: 4px solid #EEEEEE;
        position: relative;
    }
    &__block{
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__point{
        height: 8px;
        width: 8px;
        border-radius: 50%;
        top: -4px;
        left: 66px;
        position: absolute;
        margin-top: 70px;
        margin-bottom: 70px;
        transform: rotate(calc(var(--percent) * 3.6deg + 180deg));
        box-shadow: 0px -72px 0px #fff, 0px -72px 6px #000;
    }
    &__circle{
        height: 116px;
        width: 116px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 12px;
        top: 12px;
        transform: rotate(180deg);
    }
    &__circle-segment{
        --a: calc(var(--over50, 0) * -100%);
        --b: calc((1 + var(--over50, 0)) * 100%);
        --degrees: calc((var(--offset, 0) / 100) * 360);
        clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
        height: 100%;
        position: absolute;
        transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
        transform-origin: 50% 100%;
        width: 100%;
        z-index: calc(1 + var(--over50));
        &:before,
        &:after{
            background: var(--bg, #e74c3c);
            content: '';
            height: 100%;
            position: absolute;
            width: 100%;
        }
        &:before{
            --degrees: calc((var(--value, 45) / 100) * 360);
            transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
            transform-origin: 50% 0%;
        }
        &:after{
            opacity: var(--over50, 0);
        }
    }
    &__bg{
        height: 108px;
        width: 108px;
        position: absolute;
        top: 16px;
        left: 16px;
        background: #fff;
        border-radius: 50%;
        text-align: center;
    }
    &__number{
        font-size: 26px;
        line-height: 38px;
        font-weight: bold;
        color: #1C1D21;
        margin-top: 20px;
    }
    &__title{
        font-size: 12px;
        line-height: 15px;
        color: #888B94;
    }
}