.chart-slider{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    transform: rotate(215deg);
    background: conic-gradient(#8181A5 0%, #8181A5 calc(var(--percent) * 0.8%), #EEEEEE calc(var(--percent) * 0.8%));
    position: absolute;
    &__wrap{
        width: 120px;
        height: 120px;
        padding: 10px;
        border-radius: 50%;
        border: 4px solid #EEEEEE;
        border-color: #FFCC00 #FF808B #EEEEEE #8AF1B9;
        box-sizing: content-box;
    }
    &__block{
        position: relative;
    }
    &__point{
        height: 8px;
        width: 8px;
        border-radius: 50%;
        top: 0px;
        left: 56px;
        position: absolute;
        margin-top: 56px;
        margin-bottom: 56px;
        transform: rotate(calc(var(--percent) * 2.88deg + 214deg));
        box-shadow: 0px -58px 0px #fff, 0px -58px 6px #000;
    }
    &__round{
        height: 4px;
        width: 4px;
        position: absolute;
        background: #8181A5;
        border-radius: 4px;
        left: 24px;
        top: 105px;
        box-shadow: -17px 4px 0 #8af1b9, -17px -98px 0 #ffcc00, 85px -98px 0 #ff808b, 85px 4px 0 #ff808b;
    }
    &__bg{
        height: 112px;
        width: 112px;
        position: absolute;
        top: 4px;
        left: 4px;
        background: #fff;
        border-radius: 50%;
        text-align: center;
    }
    &__number{
        font-size: 26px;
        line-height: 38px;
        font-weight: bold;
        color: #1C1D21;
        margin-top: 25px;
    }
    &__title{
        font-size: 12px;
        line-height: 15px;
        color: #888B94;
    }
}