.comments{
    &__item{
        background: #EFF2FE;
        border-radius: 12px;
        padding: 15px 13px 20px 24px;
        margin-bottom: 15px;
        &--solved{
            background-color: rgba(245, 245, 250, 0.4);
            .comments{
                &__status{
                    color: #FF808B;
                    &:hover{
                        color: #000;
                    }
                }
                &__text{
                    color: #8181A5;
                }
            }
        }
        &--answer{
            max-width: 88%;
            margin-left: auto;
        }
    }
    &__label{
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
        color: #1C1D21;
        margin-bottom: 2px;
    }
    &__link{
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        color: #5E81F4;
        margin-top: 8px;
    }
    &__head{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4px;
    }
    &__name{
        font-family: "Lato";
        margin-right: auto;
        font-size: 12px;
        line-height: 18px;
        color: #1C1D21;
        padding-right: 10px;
    }
    &__name-accent{
        font-weight: bold;
    }
    &__status{
        text-decoration: none;
        font-size: 12px;
        line-height: 18px;
        color: #5E81F4;
    }
    &__title{
        font-size: 12px;
        line-height: 18px;
        color: #888B94;
        margin-bottom: 6px;
    }
    &__text{
        font-size: 12px;
        line-height: 18px;
        color: #52545A;
    }

    &__toggle-wrap{
        display: inline-block;
        position: relative;
    }

    &__toggle{
        width: 28px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        transition: background-color .3s ease-out;
        cursor: pointer;
        &:hover{
            background: #C7D4FF;
        }
        span{
            display: block;
            background-color: #6E7178;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            margin: 0 2px;
        }
    }

    &__dropdown{
        position: absolute;
        right: 0;
        top: 100%;
        margin-top: 8px;
        background-color: #fff;
        padding: 5px 0;
        box-shadow: 0px 6px 20px rgba(153, 155, 168, 0.1);
        border-radius: 8px;
        width: 160px;
        display: none;
        z-index: 4;
        animation: fade .3s;
        &.active{
            display: block;
        }
    }

    &__dropdown-item{
        font-size: 12px;
        color: #1C1D21;
        padding: 8px 20px;
        border-bottom: 1px solid #F5F5FA;
        cursor: pointer;
        transition: background-color .3s ease-out;
        &:last-child{
            border-bottom: none;
        }
        &:hover{
            background-color: #EFF2FE;
        }
    }
}