.docs-grid{
    display: flex;
    flex-wrap: wrap;
    &__item-wrap{
        width: 33.33%;
        padding: 0 7px;
        margin-bottom: 17px;
    }

    &__item{
        position: relative;
        height: 100%;
        display: block;
    }

    &__box{
        display: block;
        background: #FFFFFF;
        border: 1px solid #ECECF2;
        border-radius: 10px;
        padding: 32px 30px 22px;
        height: 100%;
        transition: border-color .3s ease-out;
        &:hover{
            border-color: #5E81F4;
        }
    }

    &__icon-wrap{
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        margin-bottom: 22px;
    }

    &__download{
        position: absolute;
        right: 14px;
        top: 17px;
        z-index: 3;
        i{
            font-size: 18px;
            line-height: 18px;
            text-align: center;
            color: #5E81F4;
        }
        &:hover{
            border-color: #5E81F4;
        }
    }

    &__title{
        display: block;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #1C1D21;
        margin-bottom: 5px;
    }
    
    &__info{
        display: block;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #AEB1BD;
    }
}

@media (max-width: 1400px){
    .docs-grid{
        &__item-wrap{
            width: 50%;
        }
    }
}