.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px -24px;
    &__item-wrap{
        width: 33.33%;
        padding: 0 12px;
        margin: 0 0 24px;
        @media (max-width: 1400px) {
            width: 50%;
        }
    }
    &__link{
        display: block;
        height: 221px;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}