.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    pointer-events: none;
    z-index: 1011;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10vh 15px;
    &.is--visible {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    &__container{
        display: inline-block;
        width: 670px;
        background-color: #fff; 
        padding: 38px 45px 42px;
        text-align: left;
        position: relative;
        z-index: 1011;
        &--big{
            width: 100%;
            max-width: 1300px;
        }
        &--md{
            width: 100%;
            max-width: 975px;
        }
        &--sm{
            width: 100%;
            max-width: 560px;
        }
    }
    &__close{
        position: absolute;
        right: 12px;
        top: 12px;
        font-size: 18px;
        line-height: 18px;
        transition: .3s ease-out;
        cursor: pointer;
        &:hover{
            transform: rotate(90deg);
        }
    }
    &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.65);
        z-index: 1010;
        display: none;
        &.is--visible {
            display: block;
        }
    }    
    &__success{
        text-align: center;
        padding: 42px 0 38px;
    }
    &__title{
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 35px;
    }
    &__text{
        font-size: 14px;
        line-height: 23px;
        margin-top: -15px;
        margin-bottom: -10px;
    }
    &__load-files{
        padding-bottom: 35px;
    }
    &__bottom{
        margin-top: 45px;
        &--right{
            text-align: right;
        }
    }
    &__box{
        max-width: 850px;
        margin: 0 0 65px;
    }
    &__wrap{
        display: flex;
        margin-bottom: 120px;
    }

    &__wrap-left{
        width: 411px;
        margin-right: 28px;
    }

    &__wrap-right{
        flex: 1;
    }
}