.pagination{
    display: flex;
    justify-content: flex-end;
    margin: 0 -6px;
    &__item{
        padding: 0 6px;
    }
    &__link{
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        text-align: center;
        line-height: 32px;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.21px;
        color: #1C1D21;
        text-decoration: none;
        transition: background-color .3s ease-out,
                    color .3s ease-out;
        &.active,
        &:hover{
            color: #fff;
            background-color: #5E81F4;
        }
    }
}