.status{
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 15px;
    background: #F5F5FA;
    border-radius: 8px;
    color: #888B94;
    position: relative;
    white-space: nowrap;
    &--process{
        background-color: rgba(130, 200, 162, 0.16);
        color: #309282;
    }
    &--lg{
        padding: 8px;
    }
    &--transparent{
        color: #888B94;
        border: 1px solid #D5D9E6;
        padding: 3px 8px;
        background-color: #fff;
    }
    &.time{
        background-color: rgba(244, 190, 94, 0.1);
        color: #D69A31;
    }
    &.success{
        background-color: rgba(124, 231, 172, 0.1);
        color: #58B080;
    }
    &.fail{
        background-color: rgba(255, 128, 139, 0.1);
        color: #FF808B;
    }
    &.primary{
        color: #8181A5;
        background-color: #EFF2FE;
    }
    &.turquoise{
        color: #26A3AE;
        background-color: rgba(64, 225, 250, 0.1);
    }
    &.blue{
        color: #5E81F4;
        background-color: rgba(94, 129, 244, 0.1);
    }
    &.purple{
        color: #A070DE;
        background-color: #EEEFFA;
    }
    &.transparent{
        color: #888B94;
        background-color: #fff;
        border: 1px solid #D5D9E6;
        padding: 3px 7px;
    }
}