.team-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px -35px;
    &__item{
        display: flex;
        width: 340px;
        padding: 0 25px;
        margin-bottom: 35px;
    }
    &__item-img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 16px;
    }
    &__item-body{
        flex: 1;
    }
    &__item-position{
        margin-bottom: 5px;
    }
    &__item-name{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #2D2F33;
    }
    &__item-text{
        font-size: 12px;
        line-height: 16px;
        color: #AEB1BD;
    }
}