.team-list{
    display: flex;
    &__item{
        border: 1px solid #B1B5BD;
        border-radius: 50%;
        overflow: hidden;
        width: 22px;
        height: 22px;
        position: relative;
        img{
            display: block;
        }
    }
}